@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');



.ba {
    font-size: 40px;
    text-align: center;
}



.myButton1 {
    margin: 8px;
-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
box-shadow:inset 0px 1px 0px 0px #cf866c;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #ab5746));
background:-moz-linear-gradient(top, #d0451b 5%, #ab5746 100%);
background:-webkit-linear-gradient(top, #d0451b 5%, #ab5746 100%);
background:-o-linear-gradient(top, #d0451b 5%, #ab5746 100%);
background:-ms-linear-gradient(top, #d0451b 5%, #ab5746 100%);
background:linear-gradient(to bottom, #d0451b 5%, #ab5746 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#ab5746',GradientType=0);
background-color:#d0451b;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
border:1px solid #942911;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:13px;
padding:6px 24px;
text-decoration:none;
text-shadow:0px 1px 0px #854629;
}
.myButton1:hover {
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ab5746), color-stop(1, #d0451b));
background:-moz-linear-gradient(top, #ab5746 5%, #d0451b 100%);
background:-webkit-linear-gradient(top, #ab5746 5%, #d0451b 100%);
background:-o-linear-gradient(top, #ab5746 5%, #d0451b 100%);
background:-ms-linear-gradient(top, #ab5746 5%, #d0451b 100%);
background:linear-gradient(to bottom, #ab5746 5%, #d0451b 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ab5746', endColorstr='#d0451b',GradientType=0);
background-color:#ab5746;
}
.myButton1:active {
position:relative;
top:1px;
}










.myButton {
    margin:9px;
-moz-box-shadow:inset 0px 1px 0px 0px #3dc21b;
-webkit-box-shadow:inset 0px 1px 0px 0px #3dc21b;
box-shadow:inset 0px 1px 0px 0px #3dc21b;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
background-color:#44c767;
border:1px solid #18ab29;
display:inline-block;
cursor:pointer;
color:#f5f5f5;
font-family:Arial;
font-size:13px;
font-weight:bold;
padding:5px 29px;
text-decoration:none;
}
.myButton:hover {
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
background-color:#5cbf2a;
}
.myButton:active {
position:relative;
top:1px;
}


.timeline {
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 1000px;
    box-sizing: border-box;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}

.timeline ul {
    padding: 0;
    margin: 0;
}

.timeline ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}

.content {
    padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 24px;
    right: -6px;
    background: rgba(233, 33, 99, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

.timeline ul li:nth-child(even):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 24px;
    left: -4px;
    background: rgba(233, 33, 99, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

.timeline ul li h3 {
    padding: 0;
    margin: 0;
    color: rgba(233, 33, 99, 1);
    font-weight: 600;
}

.timeline ul li p {
    margin: 10px 0 0;
    padding: 0;
}

.timeline ul li .time h4 {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.timeline ul li:nth-child(odd) .time {
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(233, 33, 99, 1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
}

.timeline ul li:nth-child(even) .time {
    position: absolute;
    top: 12px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(233, 33, 99, 1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
}

@media(max-width:1000px) {
    .timeline {
        width: 100%;
    }
}

@media(max-width:767px) {
    .timeline {
        width: 100%;
        padding-bottom: 0;
    }

    h1 {
        font-size: 40px;
        text-align: center;
    }

    .timeline:before {
        left: 20px;
        height: 100%;
    }

    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even) {
        width: 100%;
        text-align: left;
        padding-left: 50px;
        padding-bottom: 50px;
    }

    .timeline ul li:nth-child(odd):before,
    .timeline ul li:nth-child(even):before {
        top: -18px;
        left: 16px;
    }

    .timeline ul li:nth-child(odd) .time,
    .timeline ul li:nth-child(even) .time {
        top: -30px;
        left: 50px;
        right: inherit;
    }
}